{{ define "footer" }}

</div>
</div>

<br>
<br>
<!--
<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Maintaned by
        <a class="text-dark" href="https://edoardottt.com/"> @edoardottt</a>
    </div>
</footer>
-->

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/assets/js/toggle.js"></script>
<script src="/assets/js/back.js"></script>
</body>
</html>

{{ end }}