{{ define "head" }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Boggart Dashboard</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/assets/css/styles.css" rel="stylesheet" />
        <link href="/assets/css/head.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Boggart</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/overview">General Overview</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/query">Query DB (search into logs)</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/latest">Latest requests</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/detection">Attack detection</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/status">Status</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        <button class="btn btn-primary" id="backButton">Back</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                
                                <li class="nav-item">
                                    <a class="nav-link" href="https://github.com/edoardottt/boggart">GitHub</a>
                                </li>
                
                                <li class="nav-item">
                                    <a class="nav-link" href="https://github.com/edoardottt/boggart/tree/main/docs">Docs</a>
                                </li>
                
                                <li class="nav-item">
                                    <a class="nav-link" href="https://github.com/edoardottt/boggart/issues">Found an issue?</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
{{ end }}