{{ template "head" . }}
                <!-- Index content-->
                <div class="container-fluid">
                    <h1 class="mt-4">General Overview</h1>
                    <hr>
                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <input type="button" class="col-md-12 btn btn-outline-primary btn-static float-left text-left .text-truncate" 
                            value="Requests received: {{.Requests}}">
                          </div>
                          <div class="col">
                            <input type="button" class="col-md-12 btn btn-outline-primary btn-static float-left text-left .text-truncate" 
                            value="test">
                          </div>
                          <div class="col">
                            <input type="button" class="col-md-12 btn btn-outline-primary btn-static float-left text-left .text-truncate" 
                            value="test">
                          </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input type="button" class="col-md-12 btn btn-outline-primary btn-static float-left text-left .text-truncate" 
                                value="test">
                            </div>
                            <div class="col">
                                <input type="button" class="col-md-12 btn btn-outline-primary btn-static float-left text-left .text-truncate" 
                                value="test">
                            </div>
                            <div class="col">
                                <input type="button" class="col-md-12 btn btn-outline-primary btn-static float-left text-left .text-truncate" 
                                value="test">
                            </div>
                          </div>
                      </div>
                </div>

{{ template "footer" . }}