{{ template "head" . }}
                <!-- Index content-->
                <div class="container-fluid">
                    <h1 class="mt-4">Query DB</h1>
                    <hr>
                    <div class="container-fluid">
                    <form method="GET" action="/result">
                        <div class="form-group row">
                            <div class="col d-inline">
                                <label for="IP" class="col col-form-label">IP</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="ip" id="IP" placeholder="169.75.46.9">
                                </div>
                            </div>
                            <div class="col d-inline">
                                <label for="Method" class="col col-form-label">Method</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="method" id="Method" placeholder="GET">
                                </div>  
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="col d-inline">
                                <label for="Path" class="col col-form-label">Path</label>
                                <div class="col">
                                    <input type="text" class="form-control" name= "path" id="Path" placeholder="/login">
                                </div>   
                            </div>
                            <div class="col d-inline">
                                <label for="Headers" class="col col-form-label">Header</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="headers" id="Headers" placeholder="User-Agent">
                                </div>    
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="col">
                                <label for="Body" class="col col-form-label">Body</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="body" id="Body" placeholder="Body">
                                </div>  
                            </div>
                            <div class="col">
                                <label for="Timestamp" class="col col-form-label">Day</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="day" id="day" placeholder="2006-01-02">
                                </div>    
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="col">
                                <label for="Limit" class="col col-form-label">Limit</label>
                                <div class="col">
                                    <input type="number" class="form-control" name="limit" id="Limit" placeholder="50">
                                </div> 
                            </div>
                            <div class="col">
                                <label for="Before" class="col col-form-label">Before</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="lt" id="Before" placeholder="2006-01-02T15:04:05">
                                </div>    
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="col">
                                <label for="After" class="col col-form-label">After</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="gt" id="After" placeholder="2006-01-02T15:04:05">
                                </div> 
                            </div>
                            <div class="col">
                                <div class="col">
                                </div> 
                            </div>
                        </div>
                        <br>
                        <div class="text-right d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                      </form>
                </div>

{{ template "footer" . }}